* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Container {
    background-color: #222;
    height: 100%;
    padding: 20px;
    color: white;
    text-align: center;
}

.title {
    font-size: 1.5em;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    margin: 2px;
    padding: 5px;
    width: 20%;
    background: lightblue;
    border: 1px solid transparent;
    color: darkmagenta;
    border-radius: 2px;
}